* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;

  background-color: #444;
}

body,
#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  flex-direction: column;

  background-color: whitesmoke;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);

  border-radius: 3%;
}

h1,
h3,
button {
  margin: 1rem;
  padding: 0.5rem;
}

button {
  color: white;
  background-color: #ff0062;

  border-radius: 50%;
  border: none;

  cursor: pointer;

  font-weight: bold;

  padding: 1rem;
}

#stop-btn {
  margin-bottom: 2rem;
}

button:hover {
  background: #a927f5;
}

#clock {
  display: none;
}

label {
  font-weight: 500;
  font-size: 1.125rem;
}

.custom-select {
  padding: 0.25em 0.5em;

  line-height: 2;
}

.custom-select select {
  width: 7.2rem;

  font-size: 0.9rem;

  outline: none;
  border: none;

  cursor: pointer;
  /* Important */
  -webkit-appearance: button;

  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);

  background-color: whitesmoke;
}
